/* Container layout */
#JobStreak .window {
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: white;
  box-sizing: border-box;
}

/* Header area (if needed) */
#JobStreak header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

#JobStreak header .buttons {
  display: flex;
  flex-grow: 1;
  gap: 10px;
  justify-content: flex-end;
}

#JobStreak .info {
  display: flex;
  justify-content: space-between;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 5px;
}

/* Ensure the Saved Jobs text doesn't wrap */
#JobStreak .totals {
  font-size: 10px;
  margin-right: 15px;
  white-space: nowrap;
  color: #c8c8c8;
}
